
#purple{
  background-color: rgba(62,20,132, 1);
}

#light-blue{
  background-color: rgb(142, 213, 228);
}

#magenta{
  background-color: rgba(220,28,139, 1);
}

#orange{
  background-color: rgba(255,127,0, 1);
}

#red{
  background-color: rgba(255,0,0, 1);
}

#yellow{
  background-color: rgb(233, 233, 3);
}

#green{
  background-color: rgb(24, 150, 76);
}

#dark-blue{
  background-color: rgb(9, 80, 160);
}

#railroad{
  background-color: rgb(0, 0, 0);
}

#utility{
  background-color: rgb(83, 74, 74);
}

#mediterranean-card{
  background-image: url(../images/slim_cards/slim_card_0.jpg);
}

#baltic-card{
  background-image: url(../images/slim_cards/slim_card_1.jpg);
}

#train1-card{
  background-image: url(../images/slim_cards/slim_card_2.jpg);
}

#oriental-card{
  background-image: url(../images/slim_cards/slim_card_3.jpg);
}

#vermont-card{
  background-image: url(../images/slim_cards/slim_card_4.jpg);
}

#connecticut-card{
  background-image: url(../images/slim_cards/slim_card_5.jpg);
}

#charles-card{
  background-image: url(../images/slim_cards/slim_card_6.jpg);
}

#electric-card{
  background-image: url(../images/slim_cards/slim_card_7.jpg);
}

#states-card{
  background-image: url(../images/slim_cards/slim_card_8.jpg);
}

#virginia-card{
  background-image: url(../images/slim_cards/slim_card_9.jpg);
}

#train2-card{
  background-image: url(../images/slim_cards/slim_card_10.jpg);
}

#james-card{
  background-image: url(../images/slim_cards/slim_card_11.jpg);
}

#tennessee-card{
  background-image: url(../images/slim_cards/slim_card_12.jpg);
}

#new-york-card{
  background-image: url(../images/slim_cards/slim_card_13.jpg);
}

#kentucky-card{
  background-image: url(../images/slim_cards/slim_card_14.jpg);
}

#indiana-card{
  background-image: url(../images/slim_cards/slim_card_15.jpg);
}

#illinois-card{
  background-image: url(../images/slim_cards/slim_card_16.jpg);
}

#train3-card{
  background-image: url(../images/slim_cards/slim_card_17.jpg);
}

#atlantic-card{
  background-image: url(../images/slim_cards/slim_card_18.jpg);
}

#ventnor-card{
  background-image: url(../images/slim_cards/slim_card_19.jpg);
}

#water-card{
  background-image: url(../images/slim_cards/slim_card_20.jpg);
}

#marvin-card{
  background-image: url(../images/slim_cards/slim_card_21.jpg);
}

#pacific-card{
  background-image: url(../images/slim_cards/slim_card_22.jpg);
}

#carolina-card{
  background-image: url(../images/slim_cards/slim_card_23.jpg);
}

#pennsylvania-card{
  background-image: url(../images/slim_cards/slim_card_24.jpg);
}

#train4-card{
  background-image: url(../images/slim_cards/slim_card_25.jpg);
}

#park-card{
  background-image: url(../images/slim_cards/slim_card_26.jpg);
}

#boardwalk-card{
  background-image: url(../images/slim_cards/slim_card_27.jpg);
}
