
#stats{
  background-image: url(../images/500USD.png);
}

#games-played-text{
  background-image: url(../images/100USD.png);
}

#games-played{
  background-image: url(../images/50USD.png);
}

#attempts-text{
  background-image: url(../images/20USD.png);
}

#attempts{
  background-image: url(../images/10USD.png);
}

#accuracy-text{
  background-image: url(../images/5USD.png);
}

#accuracy{
  background-image: url(../images/1USD.png);
}
