body{
  height: 97vh;
  background-image: url(../images/background.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.row{
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
}

.header-row{
  height: 10%;
  justify-content: center;
  align-items: center;
  background-color: rgba(135,206,235, 0.2);
  border-bottom: dashed 1px black;
}

header{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0,0,139);;
}

.main-row{
  height: 90%;
}

.stats-container,
.cards-container,
.completed-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.cards-container{
  background-image: url(../images/M_board.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stats{
  display: flex;
  height: 10%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: rgb(0,0,139);
  background-color: rgba(135,206,235, 0.2);
  border-bottom: dashed 1px black;
  border-top: dashed 1px black;
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
}

#stats{
  background-image: url(../images/500USD.png);
}

#games-played-text{
  background-image: url(../images/100USD.png);
}

#games-played{
  background-image: url(../images/50USD.png);
}

#attempts-text{
  background-image: url(../images/20USD.png);
}

#attempts{
  background-image: url(../images/10USD.png);
}

#accuracy-text{
  background-image: url(../images/5USD.png);
}

#accuracy{
  background-image: url(../images/1USD.png);
}

.card{
  height: 30%;
  background-image: url(../images/lfz-card.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.completed-set{
  display: flex;
  height: 18%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  border: dashed 1px black;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.completed-card{
  height: 70%;
}

p,
.completed-header{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: rgb(0,0,139);
  background-color: rgba(135,206,235, 0.2);
  border-bottom: dashed 1px black;
}

p{
  font-size: 1.5rem;
  border-bottom: dashed 1px black;
}

.completed-header {
  font-size: 2rem;
  height: 10%;
  border-top: dashed 1px black;
}

.completed-card{
  background-image: url(../images/lfz-card.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.game-row{
  /* background-color: tomato; */
  width: 91.8%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 0.1%;
}

.win-modal{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: rgb(89,172,244);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  z-index: 1;
}

#reset-button{
  background-color: white;
  color: rgb(89,172,244);
  width: 50%;
  font-size: 3rem;
  border: solid 0.5px blue;
  border-radius: 7px;
}

/* Generic card back */
.card-back {
  background-image: url(../images/lfz-card.jpg)
}

/* CSS */
.css-logo {
  background-image: url(../images/css-logo.png)
}

/* docker */
.docker-logo {
  background-image: url(../images/docker-logo.jpg)
}

/* gitHub */
.github-logo {
  background-image: url(../images/gitHub-logo.png)
}

/* HTML */
.html-logo {
  background-image: url(../images/html-logo.png)
}
/* JS */
.js-logo {
  background-image: url(../images/js-logo.png)
}

/* MySQL */
.mysql-logo {
  background-image: url(../images/mysql-logo.jpg)
}

/* node */
.node-logo {
  background-image: url(../images/node-logo.png)
}

/* PHP */
.php-logo {
  background-image: url(../images/php-logo.jpeg)
}

/* React */
.react-logo {
  background-image: url(../images/react-logo.png)
}

/* Based on 12 columns minus a little (8.33% would be exact 12 col) */
.col-1 {
  width: 8%;
}
.col-2 {
  width: 16%;
}
.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}
.col-8 {
  width: 64%;
}
.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}
.col-11 {
  width: 88%;
}
.col-12 {
  width: 96%;
}

.game-col1{
  width: 73%;
}

.game-col2{
  width: 13.5%;
}

.unmatched{
  width: 100%;
  margin: auto 0;
}

/* Based on the row height that fit the board */
.row-1 {
  height: 13.5%;
}

.row-2 {
  height: 73%;
}

.row-3 {
  height: 100%;
}

.row-4{
  height: 11.08%;
}

.hidden {
  display: none;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    header{
      font-size: 1.5rem;
    }

    .stats{
      font-size: 0.65rem;
      width: 12%;
      height: 100%;
    }

    .stats-container{
      width: 100%;
      height: 10%;
    }

    .cards-container{
      width: 100%;
      height: 90%;
    }

    .main-row{
      display: flex;
      flex-wrap: wrap;
    }

    .card{
      height: 20%;
    }

    body{
      height: 70vh;
      margin-top: 15%;
    }

    .win-modal{
      font-size: 1rem;
    }

    #reset-button{
      font-size: 1rem;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    header{
      font-size: 2rem;
    }

    .stats{
      font-size: 1rem;
      height: 12%;
    }

    .win-modal{
      font-size: 1rem;
    }

    #reset-button{
      font-size: 1rem;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    header{
      font-size: 3rem;
    }

    .stats{
      font-size: 1.25rem;
    }

    .card{
      height: 25%;
    }

    body{
      height: 50vh;
      margin-top: 25%;
    }

    .win-modal{
      font-size: 2rem;
    }

    #reset-button{
      font-size: 2rem;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

    .stats{
      font-size: 1.5rem;
    }

    .card{
      height: 25%;
    }

    .win-modal{
      font-size: 2rem;
    }

    #reset-button{
      font-size: 2rem;
    }
}
