body{
  height: 97vh;
  background-image: url(../images/background.jpg);
  background-size: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tutorial-model{
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: auto;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}

h2{
  font-size: 4rem;
  margin: auto;
  text-align: center;
  width: 100%;
}

h3{
  width: 100%;
  font-size: 3rem;
  margin: auto;
  text-align: center;
}

.tutorial{
  width: 30%;
  height: 60%;
  margin: auto;
}

.row{
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
}

.header-row{
  box-sizing: content-box;
  height: 20%;
  width: 60%;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(rgba(204,37,44, 1), rgba(119,78,76, 1)); */
  /* border: solid 5px white; */
  background-image: url(../images/header.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-row{
  height: 80%;
}

.stats-container,
.cards-container,
.completed-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/M_board.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stats{
  display: flex;
  height: 10%;
  font-size: 2rem;
  font-family: monopoly, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  background-color: rgba(164,40,40, 0.75);
  border: solid 2.5px white;
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
}

.card{
  height: 20%;
  /* background-image: url(../images/slim_cards/chance.jpeg); */
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.completed-set{
  display: flex;
  height: 20%;
  font-size: 2rem;
  font-family: monopoly, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  border: solid 2.5px white;
  background-color: rgba(210,234,220, 1);
}

.card-front, .card-back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border: solid black 2px;
}

.completed-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 70%;
}

p,
.completed-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(164,40,40, 0.75);
  border: solid 2.5px white;
  font-family: monopoly, sans-serif;
}

p{
  font-size: 1.5rem;
  margin: 0;
}

.completed-header {
  font-size: 2rem;
  height: 10%;
}

.completed-card{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border: solid black 2px;
}

.game-row{
  /* background-color: tomato; */
  width: 81.5%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 0.1%;
}

#gameCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.win-model{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 60%;
  background-image: url(../images/Win.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(164,40,40, 0.75);
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  z-index: 1;
}

.win-model-text{
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  font-size: 4rem;
}

#reset-button{
  background-image: linear-gradient(rgba(204,37,44, 1), rgba(119,78,76, 1));
  border: solid 2.5px white;
  color: white;
  width: 50%;
  height: 12%;
  font-size: 3rem;
  /* border: solid 0.5px blue; */
  border-radius: 7px;
}

#tutorial-button{
  background-image: linear-gradient(rgba(204,37,44, 1), rgba(119,78,76, 1));
  border: solid 2.5px white;
  color: white;
  width: 20%;
  height: 8%;
  font-size: 3rem;
  border-radius: 7px;
  margin: auto;
}

/* Generic card back */
.card-back {
  background-image: url(../images/slim_cards/slim_card_chance.jpg)
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    header{
      font-size: 1.5rem;
    }

    .stats{
      font-size: 0.65rem;
      width: 12%;
      height: 100%;
    }

    .stats-container{
      width: 100%;
      height: 10%;
    }

    .cards-container{
      width: 100%;
      height: 90%;
    }

    .main-row{
      display: flex;
      flex-wrap: wrap;
    }

    .card{
      height: 20%;
    }

    body{
      height: 70vh;
      margin-top: 15%;
    }

    .win-model{
      font-size: 1rem;
    }

    #reset-button{
      font-size: 1rem;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    header{
      font-size: 2rem;
    }

    .stats{
      font-size: 1rem;
      height: 12%;
    }

    .win-model{
      font-size: 1rem;
    }

    #reset-button{
      font-size: 1rem;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    header{
      font-size: 3rem;
    }

    .stats{
      font-size: 1.25rem;
    }

    .card{
      height: 25%;
    }

    body{
      height: 50vh;
      margin-top: 25%;
    }

    .win-model{
      font-size: 2rem;
    }

    #reset-button{
      font-size: 2rem;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

    .stats{
      font-size: 1.5rem;
    }

    .card{
      height: 25%;
    }

    .win-model{
      font-size: 2rem;
    }

    #reset-button{
      font-size: 2rem;
    }
}
